body{
    background-image: url(forcontectus.jpg);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:copperplate gothic;
}
.contact{
    position:relative;
    min-height:100vh;
    padding:50px 100px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background:url(img3.jpeg);
    background-size:cover;
}
.contact .content{
    max-width:800px;
    text-align:center;
}
.contact .content h2{
    font-size:40px;
    font-weight:500;
    color:black;
}
.contact .content p{
    font-weight:300;
    color:black;
}
.container{
    width:1000px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:30px;
}
.container .contactInfo{
    width:50%;
    display:flex;
    flex-direction:column;
}
.container .contactInfo .box{
    position:relative;
    padding:30px;
    display:flex;
}
.container .contactInfo .box .icon {
    min-width:10px;
    height:10px;
    background:grey;
    justify-content:center;
    align-items:center;
    display:flex;
    border-radius:100%;
    font-size:10px;
}
.container .contactInfo .box .text {
    display:flex;
    margin-left:30px;
    font-size:16px;
    color:black;
    flex-direction:column;
    font-weight:300;
}
.container .contactInfo .box .text h3 {
    font-weight:500;
    color:#00bcd4;
}
.contactForm{
    width:40%;
    padding:40px;
    background:white;
}
.contactForm h2{
    font-size:30px;
    color:#333;
    font-weight:500;
}
.contactForm .inputBox{
    position:relative;
    width:100%;
    margin-top:10px;
}
.contactForm .inputBox input,.contactForm .inputBox textarea{
    width:100%;
    padding:5px 0;
    font-size:16px;
    margin:10px 0;
    border:none;
    border-bottom:2px solid #333;
    outline:none;
    resize:none;
}
.contactForm .inputBox span{
    position:absolute;
    left:0;
    padding:5px 0;
    font-size:16px;
    margin:10px 0;
    pointer-events:none;
    transition:0.5s;
    color:#666
}
.contactForm .inputBox input:focus~span,.contactForm .inputBox input:valid~span,.contactForm .inputBox textarea:focus~span,.contactForm .inputBox textarea:valid~span {
    color: black;
    font-size:12px;
    transform:translate(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width:100;
    background:#00bcd4;
    color:white;
    border:none;
    cursor:pointer;
    padding:10px;
    font-size:18px;
}
